.carousel {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .selectors {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: -35px;
    z-index: 0;
    top: 200px;
    background-color: transparent;


    .counter {
      font-weight: 700;
      font-size: 250px;
      line-height: 305px;
      color: #3C3C3C;
      background-color: transparent;
      z-index: 1;
    }

    button {
      outline: none;
      background-color: transparent;
      border: none;
      z-index: 0;

      .selector-up {
        transform: rotate(180deg);
        margin-bottom: 100px;
      }
  
      .selector-down {
        margin-top: 100px;
      }
    }
  }
}